body {
  background-color: #3E4444;
}
.container {
  width: 100%;
  margin-bottom: 70px;
}
h1, h2, h3 {
  font-family: 'Hind', sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}
h1 {
  color: #F76F9A;
  font-size: 80px;
}

h2 {
  color: #F76F9A;
  font-size: 20px;
}
h2.subheading {
  font-size: 30px;
}
h3 {
  color: #FFFFFF;
  font-size: 16px;
}
p {
  font-family: 'Slabo 27px', serif;
  color: #FFFFFF;
  font-size: 18px;
}

/*Navbar*/
nav {
  color: #FFFFFF;
  background-color: #3E4444;
  font-family: 'Hind', sans-serif;
}
.navbar-brand {
  color: #F76F9A;
  font-family: 'Hind', sans-serif;
}
a {
  color: #FFDAD8;
}
a:hover {
  color: #F76F9A;
}
li.active > a {
  color: #F76F9A;
}
/*About Section*/
img.biopic, img.img-portfolio {
  max-height: 300px;
  border-radius: 15%;
}

.biopic-container, .greeting, .contact-container {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.fa-bars {
  color: #FFFFFF;
}
.irl-para, .about-para {
  text-align: center;
}
/*Portfolio*/
.first-row, .second-row {
  padding: 5px;
  display: flex;
  align-items: center;
}
.portfolio-container {
  text-align: center;
}
.portfolio-description {
  font-size: 18px;
}
.project-tile {
  margin-top: 25px;
}
.img-container {
  position: relative;
  width: 50%;
}
.img-portfolio {
  max-width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #3E4444;
}
.img-container:hover .overlay {
  opacity: 1;
}
.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

label {
  color: #FFDAD8;
  font-family: 'Hind', sans-serif;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  /*font awesome icons - only on contact info*/
.fab {
  font-size: 3em;
  color: #FFDAD8;
  padding: 0;
}
.buttons {
  display: flex;
  justify-content: center;
}

.btn {
  color: #FFDAD8;
  background-color: #3E4444;
  border-color: #FFDAD8;
  margin: 5px;
}
button.btn, a.btn {
  color: #3E4444;
  background-color: #FFDAD8;
  border-color: #FFDAD8;
  margin: 5px;
}
button.btn:active, button.btn:hover, a.btn:active, a.btn:hover {
  color: #3E4444;
  background-color: #F76F9A;
  border-color: #3E4444;
  margin: 5px;
}

.icon-section {
  display: flex;
  justify-content: space-around;
}
a.btn-linkedin, a.btn-twitter, a.btn-github {
  background-color:#3E4444;
}
.publications-section {
  text-align: center;
  margin-top: 20px;
}
/*Blog*/
.blog-post-title {
  text-align: left;
}
.blog-description {
  text-align: center;
}
