[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
django = ">=3.0.14"
django-heroku = "*"

[dev-packages]
django = ">=3.0.14"
[requires]
python_version = "3.6"
