{% extends "base.html" %}
{% block about_link_class %}active{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col greeting">
      <h1>Hey, Hi, and Hello!</h1>
    </div>
  </div>

  <div class="row">
    <div class="col biopic">
      <img class="img-fluid biopic" src="../static/assets/images/biopic.jpg" alt="Maddy Ford Picture">
    </div>
    <div class="col">
      <h2>About me:</h2>
      <p class="about-para">I am a web developer based in the San Francisco Bay Area.
         My fields of expertise are JavaScript, React, Python, and Django.
         I thrive on designing and creating tech that contributes to social good and
         optimizes efficiency in daily processes.
         Previously in my career, I worked in biology and nonprofit administration.
         Both have infused my coding style with a love for logic and
         user-focused design. </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Find me IRL:</h2>
      <p class="irl-para">In my spare time, I am a volunteer at
        <a href="http://openoakland.org/">OpenOakland</a>,
        where I contribute to open source projects such as
        <a href="https://www.opendisclosure.io/">opendisclosure.io</a>.
        I am also a steering committee member for the
        <a href="https://www.mluxsf.com/">Machine Learning and User
        Experience (MLUX)</a> meetup, which hosts tech talks throughout the San
        Francisco Bay Area.</p>
    </div>
    <div class="col">
      <h2>Find me online:</h2>
      <div class="icon-section col">
        <div class="twitter">
          <a href="https://twitter.com/mrhf008" target="_blank" class="btn-twitter btn" aria-label="Twitter">
            <i class="fab fa-twitter-square" aria-hidden="true"></i>
          </a>
        </div>
        <div class="github">
          <a href="https://github.com/mford008" target="_blank" class="btn-github btn" aria-label="Github">
            <i class="fab fa-github-square" aria-hidden="true"></i>
          </a>
        </div>
        <div class="linkedin">
          <a href="https://www.linkedin.com/in/maddy-ford/" target="_blank" class="btn-linkedin btn" aria-label="LinkedIn">
            <i class="fab fa-linkedin" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
