{% extends "base.html" %}
{% block blog_link_class %}active{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Thought Collector</h1>
      <h2 class="subheading">A Tech Blog</h2>
      <p class="blog-description">This is a compilation of all the amazing tips and advice I've received throughout my professional transition into a tech career.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>New posts coming soon!</h2>
    </div>
  </div>
</div>
{% endblock %}
