{% extends "base.html" %}
{% block portfolio_link_class %}active{% endblock %}
{% block content %}
<div class="container portfolio-container">
  <div class="row">
    <div class="col">
      <h1>My Work</h1>
    </div>
  </div>
  <div class="row first-row">
    <div class="col-s-12 col-m-6 col-lg-6 project-tile">
      <div class="row">
        <div class="col img-container">
          <img class="img-fluid img-portfolio" src="../static/assets/images/gottago.jpg" alt="Gotta Go Logo">
          <div class="overlay">
            <div class="caption">
              <h2>Gotta Go</h2>
              <p class="portfolio-description">
              Gotta Go is a React-based web
              application designed to crowdsource restrooms for frequent drivers.
              It features MongoDB, a NodeJS server, and Bulma styling.</p>
              <div class="row buttons">
                <a href="https://github.com/mford008/gotta-go-react" target="_blank" class="btn" role="button">Github Repo</a>
                <a href="https://gotta-go.herokuapp.com/" target="_blank" class="btn" role="button">Live Site</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-s-12 col-m-6 col-lg-6 project-tile">
      <div class="row">
        <div class="col img-container">
          <img class="img-fluid img-portfolio" src="../static/assets/images/stanthonys.png" alt="St Anthony's Logo">
          <div class="overlay">
            <div class="caption">
              <h2>Virtual Curbside</h2>
              <p class="portfolio-description">
                Virtual Curbside is a JavaScript and Wordpress application that benefits
                St. Anthony's Dining Room in San Francisco. It allows
                donors to contribute money to dining services via PayPal.
                </p>
                <div class="row buttons">
                  <a href="https://github.com/OpenPledge/virtualcurbsidedonation" target="_blank" class="btn" role="button">Github Repo</a>
                  <a href="https://www.stanthonysf.org/virtual-curbside/" target="_blank" class="btn" role="button">Live site</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row second-row">
    <div class="col-s-12 col-m-6 col-lg-6 project-tile">
      <div class="row">
        <div class="col img-container">
          <img class="img-fluid img-portfolio" src="../static/assets/images/divvy.png" alt="Divvy Logo">
          <div class="overlay">
            <div class="caption">
              <h2>Divvy</h2>
              <p class="portfolio-description">
                Divvy is a Django application for community sharing
                of household items. It uses cookiecutter, Bootstrap, and a sqlite
                database.</p>
              <div class="row buttons">
                <a href="https://github.com/mford008/divvy" target="_blank" class="btn" role="button">Github Repo</a>
                <a href="https://divvyshare.herokuapp.com/" target="_blank" class="btn" role="button">Live Site</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-s-12 col-m-6 col-lg-6 project-tile">
      <div class="row">
        <div class="col img-container">
          <img class="img-fluid img-portfolio" src="../static/assets/images/friendfinder.jpg" alt="Friend Finder Logo">
          <div class="overlay">
            <div class="caption">
              <h2>Friend Finder</h2>
              <p class="portfolio-description">
                This application uses
                Node.js and JavaScript to calculate user compatibility
                with character profiles from "Stranger Things."
                </p>
                <div class="row buttons">
                  <a href="https://github.com/mford008/friend-finder" target="_blank" class="btn" role="button">Github Repo</a>
                  <a href="https://strangerthingsfriends.herokuapp.com/" target="_blank" class="btn" role="button">Live Site</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!--container-->
{% endblock %}
